{% extends 'registrar/base.html' %} {% block content %}
<div class="container my-5">
  <div class="row">
    <h4 class="fw-bold">Review Clearance</h4>
    <div class="mt-3">
      <div class="card col-md-12">
        <div class="card-body p-5">
          <form action="{% url 'review_clearance_view' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="approved"
                    id="approved"
                  />
                  <label class="form-check-label" for="approved">
                    Approve Clearance
                  </label>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="rejected"
                    id="rejected"
                  />
                  <label class="form-check-label" for="rejected">
                    Reject Clearance
                  </label>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="reason" class="form-label"
                  >Reason for the selected choice</label
                >
                <textarea
                  class="form-control"
                  id="reason"
                  rows="3"
                ></textarea>
              </div>
              <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
