{% extends 'students/base.html' %} {% block content %}
<div class="container my-5">
  <h2>Profile</h2>
  <div class="row">
    <div class="mt-3">
      <div class="card col-md-12">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="fw-bold">Student Details</h5>
            </div>
          </div>
          <div class="row mt-2">            
            <div class="col-md-4">
              <div class="fw-bold">Email</div>
              <div>{{user.email}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">First Name</div>
              <div>{{user.first_name}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">Last Name</div>
              <div>{{user.last_name}}</div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="fw-bold">Sex</div>
              <div>{{user.sex}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">ID Number</div>
              <div>{{user.id_number}}</div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-sm-12">
              <h5 class="fw-bold">Academic Details</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="fw-bold">School</div>
              <div>{{student.school}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">Department</div>
              <div>{{student.department}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">Program</div>
              <div>{{student.program}}</div>
            </div>            
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="fw-bold">Academic Year</div>
              <div>{{student.academic_year}}</div>
            </div>
            <div class="col-md-4">
              <div class="fw-bold">Year</div>
              <div>{{student.year}}</div>
            </div>
          </div>

          <div class="mt-3">            
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">
              Initiate Clearance
            </button>
            {% if clearances > 0 %}
            <a class="btn btn-outline-dark"  href="{% url 'student_list_clearance_view' %}">My Clearance</a>
            {% endif %}            
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Initiate Clearance</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure?</p>                  
                  <a class="btn btn-outline-primary" href="{% url 'student_initiate_clearance_view' %}">Yes</a>            
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>                
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
